AUTH_PORT=8081
AUTH_GRPC_PORT=50051

TASKS_PORT=8082
AUTH_GRPC_ADDR=auth:50051

DB_HOST=postgres
DB_PORT=5432
DB_USER=tasks_user
DB_PASSWORD=tasks_pass
DB_NAME=tasks_db

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
CACHE_TTL_SECONDS=120
CACHE_TTL_JITTER_SECONDS=30

